<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-a11y-keys-behavior/iron-a11y-keys-behavior.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-form-element-behavior/iron-form-element-behavior.html">
<link rel="import" href="../iron-range-behavior/iron-range-behavior.html">
<link rel="import" href="../paper-behaviors/paper-inky-focus-behavior.html">
<link rel="import" href="ev-slider-behavior.html">

<link rel="import" href="../ev-styles/typography.html">
<link rel="import" href="../ev-styles/colour.html">

<dom-module id="ev-vertical-slider">
  <template strip-whitespace>
    <style>
      :host {
        @apply --layout;
        @apply --layout-justified;
        @apply --layout-center; 
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        --ev-progress-disabled-active-color: var(--ev-slider-disabled-active-color, #bdbdbd);
        --calculated-slider-height: var(--ev-calculated-slider-height, 2px);

        --ev-hover-opacity: var(--hover-opacity, 0.07);
        --ev-focus-opacity: var(--hover-opacity, 0.11);
        --ev-press-opacity: var(--hover-opacity, 0.15);
      }

      /* focus shows the ripple */
      :host(:focus) {
        outline: none;
      }

      #verticalSliderContainer:focus {
        outline: 0;
      }

      .slider-markers {
        position: absolute;
        top: 0px;
        height: 100%;
        left: 1px;
        right: 1px;
        box-sizing: border-box;
        pointer-events: none;
        @apply --layout-vertical;
      }

      .slider-marker {
        @apply --layout-flex;
      }

      .slider-markers::after,
      .slider-marker::after {
        content: "";
        display: block;
        margin-left: -1px;
        width: 2px;
        height: var(--calculated-slider-height); 
        border-radius: 50%;
        background-color: var(--ev-slider-markers-color, #3367d6);
      }

      .light-marker::after {
        content: "";
        display: block;
        margin-left: -1px;
        width: 2px;
        height: var(--calculated-slider-height); 
        border-radius: 50%;
        background-color: var(--ev-slider-container-color, white);
      }

      .slider-knob {
        position: absolute;
        left: 0;
        bottom: 0;
        margin-left: calc(-14px - var(--calculated-slider-height)/2); 
        margin-bottom: -16px;
        width: calc(30px + var(--calculated-slider-height));
        height: calc(30px + var(--calculated-slider-height));
      }

      .transiting > .slider-knob {
        transition: left 0.08s ease;
      }

      .slider-knob:focus {
        outline: none;
      }

      .slider-knob.dragging {
        transition: none;
      }

      .snaps > .slider-knob.dragging {
        transition: -webkit-transform 0.08s ease;
        transition: transform 0.08s ease;
      }

      .slider-knob-inner {
        margin: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        background-color: var(--ev-slider-knob-color, #3367d6);
        border: 2px solid var(--ev-slider-knob-color, #3367d6);
        border-radius: 50%;

        -moz-box-sizing: border-box;
        box-sizing: border-box;

        transition-property: -webkit-transform, background-color, border;
        transition-property: transform, background-color, border;
        transition-duration: 0.18s;
        transition-timing-function: ease;
      }

      .slider-knob-inner::before {
        background-color: var(--ev-slider-pin-color, #3367d6);
      }

      .pin > .slider-knob > .slider-knob-inner::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 50%;
        margin-left: -42px;
        width: 26px;
        height: 26px;
        border-radius: 5px;
        transform: rotate(90deg);
      }

      .pin > .slider-knob > .slider-knob-inner::after {
        content: attr(value);
        position: absolute;
        top: 8px;
        left: 49%;
        margin-left: -45px;
        width: 32px;
        height: 26px;
        text-align: center;
        color: var(--ev-slider-font-color, #fff);
        font-size: 12px;
        z-index: 10;
      }

      #pointer {
        background-color: var(--ev-slider-pin-color, #3367d6);
        display: none;
        height: 8px;
        left: -6px;
        position: absolute;
        top: 12px;
        transform: rotate(45deg);
        width: 8px;
      }

      #sliderBar {
        /* position: absolute;
        bottom: 0;
        left: 0; */
        border: 1px solid var(--ev-slider-container-color, #bdbdbd);  
        height: var(--ev-slider-height, 168px);  
      }

      #progressBar {
        position: absolute;
        bottom: 0;
        left: 0;
        border: 1px solid var(--ev-slider-active-color, #3367d6);
      }

      /* disabled state */
      #verticalSliderContainer.disabled {
        pointer-events: none;
      }

      .disabled > .slider-knob > .slider-knob-inner {
        background-color: var(--ev-slider-disabled-knob-color, #bdbdbd);
        border: 2px solid var(--ev-slider-disabled-knob-color, #bdbdbd);
        -webkit-transform: scale3d(0.75, 0.75, 1);
        transform: scale3d(0.75, 0.75, 1);
      }

      #ripple {
        background-color: var(--ev-slider-knob-color, #3367d6);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 4px;
      }

      .mousedown-ripple {
        animation: mousedown-animation 0.1s ease-out;
      }

      .mouseup-ripple {
        animation: mouseup-animation 0.1s ease-out;
      }

      .hover-ripple {
        animation: hover-animation 0.1s ease-out;
      }

      .unhover-ripple {
        animation: unhover-animation 0.1s ease-out;
      }

      .focus-ripple {
        animation: focus-animation 0.1s ease-out;
      }

      .large-ripple {
        top: -8px !important;
        left: -8px !important;
        width: 48px !important;
        height: 48px !important;
        padding: 0px !important;
      }

      .normal-ripple {
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        padding: 4px;
      }

      @keyframes mousedown-animation {
        0%    { opacity: var(--ev-hover-opacity); width: 24px; height: 24px; top: 0px; left: 0px; padding: 4px; }
        100%  { opacity: var(--ev-press-opacity); width: 48px; height: 48px; top: -8px; left: -8px; padding: 0px; }
      }

      @keyframes mouseup-animation {
        0%    { opacity: var(--ev-press-opacity); width: 48px; height: 48px; top: -8px; left: -8px; padding: 0px; }
        100%  { opacity: var(--ev-hover-opacity); width: 24px; height: 24px; top: 0px; left: 0px; padding: 4px; }
      }

      @keyframes hover-animation {
        0%    { opacity: 0; }
        100%  { opacity: var(--ev-hover-opacity); }
      }

      @keyframes unhover-animation {
        0%    { opacity: var(--ev-hover-opacity); }
        100%  { opacity: 0; }
      }

      @keyframes focus-animation {
        0%    { opacity: 0; }
        100%  { opacity: var(--ev-focus-opacity); }
      }

      /* IE11 */
      @media all and (-ms-high-contrast:none) {

        @keyframes mousedown-animation {
          0%    { opacity: 0.07; width: 24px; height: 24px; top: 0px; left: 0px; padding: 4px; }
          100%  { opacity: 0.15; width: 48px; height: 48px; top: -8px; left: -8px; padding: 0px; }
        }

        @keyframes mouseup-animation {
          0%    { opacity: 0.15; width: 48px; height: 48px; top: -8px; left: -8px; padding: 0px; }
          100%  { opacity: 0.07; width: 24px; height: 24px; top: 0px; left: 0px; padding: 4px; }
        }

        @keyframes hover-animation {
          0%    { opacity: 0; }
          100%  { opacity: 0.07; }
        }

        @keyframes unhover-animation {
          0%    { opacity: 0.07; }
          100%  { opacity: 0; }
        }

        @keyframes focus-animation {
          0%    { opacity: 0; }
          100%  { opacity: 0.11; }
        }

        .hover-opacity-ie11 {
          opacity: 0.07 !important;
        }

        .focus-opacity-ie11 {
          opacity: 0.11 !important;;
        }

        .lose-focus-opacity-ie11 {
          opacity: 0 !important;;
        }
      }
    </style>

    <div id="verticalSliderContainer"
      class$="[[_getClassNames(disabled, pin, snaps, immediateValue, min, dragging, transiting, editable)]]">
      <div>
        <div id="sliderBar" disabled$="[[disabled]]" min="[[min]]" max="[[max]]" step="[[step]]" value="[[immediateValue]]"
          on-down="_bardown" on-track="_barTrack" on-tap="_barclick">
        </div>
        <div id="progressBar" on-track="_barTrack" on-tap="_barclick">
        </div>
      </div>
    
      <template is="dom-if" if="[[snaps]]">
        <div class="slider-markers">
          <template is="dom-repeat" items="[[markers]]">
            <div class="slider-marker"></div>
          </template>
        </div>
      </template>
    
      <div id="sliderKnob" class="slider-knob" on-down="_knobdown" on-track="_onTrack"
        on-transitionend="_knobTransitionEnd">
        <div class="slider-knob-inner" value$="[[immediateValue]]"></div>
        <div id="pointer"></div>
        <div id="ripple"></div>
      </div>
    </div>

  </template>

  <script>
    /**
    `ev-vertical-slider` is a slider with a draggable thumb nail on a track, that allows the user to select values within a range. 
    When the user hovers over the thumb or focuses on the slider, a ripple effect is displayed. Similarily when the 
    user drags or presses the thumb a larger ripple is displayed. 
    
    Example:
    
        <link rel="import" href="path/to/ev-slider/ev-vertical-slider.html">
    
        <ev-vertical-slider></ev-vertical-slider>
    
    Use `min` and `max` to specify the slider range.  The default is 0 to 100.
    
    Example:
    
        <ev-vertical-slider min="1" max="10" value="7"></ev-vertical-slider>    
    
    To restrict the range of the slider, use the `start` and `stop` properties. 
    
        <ev-vertical-slider min="0" max="10" start="1" stop="9"></ev-vertical-slider>      
    
    ### Styling
    
    By default, the ripple is the same color as the knob colour but at a lower opacity. You may
    customize the color using the `--ev-slider-knob-color` custom property.
    
    The following custom properties and mixins are available for styling:
    
    Custom property                     | Description                                                       | Default
    ------------------------------------|-------------------------------------------------------------------|----------
    `--ev-slider-container-color`       | The background color of the bar                                   | '#bdbdbd'
    `--ev-slider-bar-color`             | The background color of the slider                                | `transparent`
    `--ev-slider-active-color`          | The progress bar color                                            | '#3367d6'
    `--ev-slider-knob-color`            | The knob color                                                    | '#3367d6'
    `--ev-slider-disabled-knob-color`   | The disabled knob color                                           | '#bdbdbd'
    `--ev-slider-pin-color`             | The pin color                                                     | '#3367d6'
    `--ev-slider-font-color`            | The pin's text color                                              | white
    `--ev-slider-markers-color`         | The snaps markers color                                           | '#3367d6'
    `--ev-slider-disabled-active-color` | The disabled progress bar color                                   | `#bdbdbd`
    `--ev-slider-height`                | Height of the progress bar                                        | `168px`
    `--ev-slider-input`                 | Mixin applied to the input in editable mode                       | `{}`
    `--ev-slider-input-container-input` | Mixin applied to the paper-input-container-input in editable mode | `{}`
    `--ev-hover-opacity`                | The opacity of the ripple when you hover over the thumb           | 0.07
    `--ev-focus-opacity`                | The opacity of the ripple when the slider is in focus             | 0.11
    `--ev-press-opacity`                | The opacity of the ripple when you click on the thumb             | 0.15
    
    @customElement
    @polymer
    @appliesMixin Polymer.IronA11yKeysBehavior
    @appliesMixin Polymer.IronFormElementBehavior
    @appliesMixin Polymer.PaperInkyFocusBehavior
    @appliesMixin Polymer.IronRangeBehavior
    @demo demo/index.html
    */
    class EvVerticalSlider extends Polymer.mixinBehaviors([Polymer.IronA11yKeysBehavior, Polymer.IronFormElementBehavior,
    Polymer.PaperInkyFocusBehavior, Polymer.IronRangeBehavior], EVSliderBehavior(Polymer.Element)) {
      static get is() { return 'ev-vertical-slider'; }

      /**
      * @private
      * Intitalising the slider
      */
      ready() {
        super.ready();
        if (typeof start === undefined) {
          this.start = this.min;
        } else {
          if (this.value < this.start) {
            this.value = this.start;
          }
        }

        // only allow sensible values for step
        if (this.step !== undefined && this.step < 1) {
          this.step = 1;
        } 

        if (this.pin == true) {
          this.$['pointer'].style.display = 'block';
        }

        // disable paper-ripple from showing
        this.ensureRipple();
        if (this.hasRipple()) {
          this._ripple.style.display = 'none';
        }

        if (this.ignoreBarTouch) {
          Polymer.Gestures.setTouchAction(this.$.sliderBar, 'auto');
        }

        this._ensureAttribute('role', 'slider');
        this._ensureAttribute('tabindex', 0);

        if(!this.noRipple) {
          this.addEventListener('mousedown', event => { this._onMouseDown(event) });
          this.addEventListener('mouseup', event => { this._onFinishClick(event) });
          this.addEventListener('mouseover', event => { this._onHover(event) });
          
          this.addEventListener('focus', event => { this._onFocus(event) });
          this.addEventListener('focusout', event => { this._onFocusout(event) });
          this.addEventListener('dragging-start', event => { this._onDraggingStart(event) });
          this.addEventListener('dragging', event => { this._onDragging(event) });
          this.addEventListener('dragging-end', event => { this._onDraggingEnd(event) });
          this.$.ripple.transitionEvent = this._whichBrowserEvent();
        }
        this.addEventListener('dragging', event => { this._onDragging(event) });
        this.addEventListener('mouseout', event => { this._onUnHover(event) });   
      }

      /**
      * @private
      * Binding the key presses to functions
      * @return {Array} an array of key bindings to functions
      */
      get keyBindings() {
        return {
          'home': '_decrementKey',
          'end': '_incrementKey',
          'down': '_decrementVertical',
          'up': '_incrementVertical'
        };
      }

      /**
       * @private
       * Called when the user is dragging the slider
       * @param {event} browser event
       */
      _onDragging(event) {
        if(!this.noRipple) {
          this.$.ripple.classList.remove('focus-ripple');
          this.$.ripple.classList.remove('click-ripple');
        }
        this._updateProgressBar();
        this._updateStepMarkers();
      }

      /**
       * @private
       * Positions the thumb along the slider
       * @param ratio  the ratio of slider value to it's height
       */
      _positionKnob(ratio) {
        this._setImmediateValue(this._calcStep(this._calcKnobPosition(ratio)));
        this._setRatio(this._calcRatio(this.immediateValue) * 100);
        this.$.sliderKnob.style.bottom = this.ratio + '%';

        this._w = this.$.sliderBar.offsetHeight;
        let yPixels = (this.ratio * this._w) / 100;
        this.$.progressBar.style.height = yPixels + 'px';

        if (this.dragging) {
            this._knobstarty = yPixels;
            this.translate3d(0, 0, 0, this.$.sliderKnob);
        }
      }

      /**
       * @private
       * Called when the user is dragging the slider
       * @param {event} browser event
       */
      _onTrack(event) {
        event.stopPropagation();
        switch (event.detail.state) {
          case 'start':
            this._trackStart(event);
            break;
          case 'track':
            this._trackY(event);
            break;
          case 'end':
            this._trackEnd();
            // prevent click event after dragging ends
            event.preventDefault();
            event.stopPropagation();
            break;
        }
      }

      /**
       * @private
       * Called when the user starts dragging the slider
       * @param {event} browser event
       */
      _trackStart(event) {
        this._setTransiting(false);
        this._w = this.$.sliderBar.offsetHeight;
        this._y = this.ratio * this._w / 100;
        this._starty = this._y;

        this._knobstarty = this._starty;

        // vertical dragging
        this._stepValue = this.max/this.step;
        this._stepValueY = this._w/this._stepValue;
        let currentPos = event.currentTarget.getBoundingClientRect();
        let y = currentPos.top + (currentPos.height/2);
        this._starty = event.detail.dy;
        this._miny = 0 - (this._stepValueY * this.value);
        this._maxy = this._miny + this._w; 

        this.$.sliderKnob.classList.add('dragging');
        this._setDragging(true);
        this._fireDraggingStart();
      }

      /**
       * @private
       * Called when the user is dragging the slider
       * @param {event} browser event
       */
      _trackY(event) {
        if (!this.dragging) {
          this._trackStart(event);
        }

        let dy = event.detail.dy * -1;
        
        if (dy < this._miny) {
          dy = this._miny;
        }          
        if (dy > this._maxy) {
          dy = this._maxy;
        }
            
        let yPos = dy - this._miny; 
        let absoluteValue = (yPos / this._w) * 100;                   
        let immediateValue = this._calcStep(this._calcKnobPosition(absoluteValue));     

        if (this.start !== undefined && immediateValue < this.start) {
          immediateValue = this.start;
        }

        if (this.stop !== undefined && immediateValue > this.stop) {
          immediateValue = this.stop;
        }

        this._setImmediateValue(immediateValue);

        // update thumb's position
        const translateY = ((this._calcRatio(this.immediateValue) * this._w) + this._miny);          
        const yPixels = translateY * -1;
        this.translate3d(0, yPixels + 'px', 0, this.$.sliderKnob);

        this._updateProgressBar();   

        this._fireDragging();
      }

      /**
       * @private
       * Update the progress bar's position
       */ 
      _updateProgressBar() {       
        const height = this.$.sliderBar.offsetHeight;
        let ratio = this._calcRatio(this.immediateValue);

        let absY = height * ratio;  
        this.$.progressBar.style.height = absY + 'px';
      }

      /**
       * @private
       * Called when the user clicks on a bar in the slider
       * @param {event} browser event
       */
      _barclick(event) {
        this._w = this.$.sliderBar.offsetHeight;
        const rect = this.$.sliderBar.getBoundingClientRect();

        let ratio = ((rect.bottom - event.detail.y) / this._w) * 100;

        const prevRatio = this.ratio;

        this._setTransiting(true);
        this._positionKnob(ratio);

        // if the ratio doesn't change, sliderKnob's animation won't start
        // and `_knobTransitionEnd` won't be called
        // Therefore, we need to manually update the `transiting` state
        if (prevRatio === this.ratio) {
          this._setTransiting(false);
        }

        this.async(() => {
          this._fireChange();
        });

        // cancel selection
        event.preventDefault();

        // set the focus manually because we will called prevent default
        this.focus();
      }

      /**
       * @private
       * Added this functionality so that light markers are displayed on the progress bar
       * with darker markers on the slider bar
       */
      _updateStepMarkers() {
        let markerDots = this.shadowRoot.querySelectorAll('.slider-marker');
        let l = markerDots.length - this.immediateValue;
        for (let i = 0; i < markerDots.length; i++) {      
          if (i < l) {
            markerDots[i].classList.remove('light-marker'); 
          } else {
            markerDots[i].classList.add('light-marker');
          }
        }
      }

      /**
       * @private
       * Increment a vertical slider using the 'Up' key
       * @param {event} browser event
       */
      _incrementVertical(event) {
        if (!this.disabled) {         
          this.increment();
          this._fireChange();
          event.preventDefault();
        }
      }

      /**
       * @private
       * Decrement a vertical slider using the 'Down' key
       * @param {event} browser event
       */
      _decrementVertical(event) {
        if (!this.disabled) {
          this.decrement();
          this._fireChange();
          event.preventDefault();
        }
      }

    }

    window.customElements.define(EvVerticalSlider.is, EvVerticalSlider);
  </script>
</dom-module>